:root {
  --col01: white;
  --col02: black;
  --col03: cornflowerblue;
  --col04: coral;
  --border: solid coral 2px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  line-height: 1.6;
  background-color: var(--col03);
  color: var(--col01);
  gap: 1rem;
}

h1 {
  font-size: 2rem;
}

nav {
  border: var(--border);
  padding: 1rem;
}

footer {
  border: var(--border);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  max-width: 1000px;
  width: 100%;
}

.mediaPlayerSection {
  width: 100%;
  margin: 0% auto;
}

#mediaPlayer {
  max-width: 100%;
}

.mediaPlayerControlCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

#playPauseButton {
  padding: 1rem;
  cursor: pointer;
}

#timelineProgress {
  flex: 1;
}

.mainCont {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 4rem;
}
