:root {
  --col01: #272635;
  --col02: white;
  --col03: #028090;
  --col04: #00a896;
}

body {
  text-align: center;
  line-height: 1.6;
  background-color: var(--col01);
  color: var(--col02);
  gap: 1rem;
}

header {
  font-size: 2rem;
  color: var(--col03);
}

/* footer {
  border: var(--border);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

main {
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 4rem;
  padding-left: 6rem;
}

.mediaPlayerSection {
  width: 100%;
  margin: 0% auto;
}

#mediaPlayer {
  width: 800px;
  max-width: 100%;
}

.mediaPlayerControlCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

#playPauseButton {
  padding: 1rem;
  cursor: pointer;
}

#timelineProgress {
  flex: 1;
}

.buttonCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.highlight {
  color: #00a896;
}
