@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

/* For this site, I've chosen, bright, readable , more child friendly colours to account for the likely young */
/* audience this site would have. These colours are friendly, appealing to the eye, and unify various elements of the */
/* page, making it feel far more complete to users */
:root {
  --col01: rgb(143, 190, 229);
  --col02: #eff4e5;
  --col03: #7dc0e5;
  --col04: #5cb8e9;
}

body {
  text-align: center;
  line-height: 1.6;
  background-color: var(--col01);
  color: var(--col02);
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: var(--col02) solid;
  border-width: 1rem;
}

header {
  font-size: 4rem;
  color: var(--col02);
  font-weight: 700;
  margin-top: 0.5rem;
}

main {
  max-width: 1300px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 5rem;
}

.mediaPlayerSection {
  width: 100%;
  margin: 0% auto;
}

#mediaPlayer {
  width: 1000px;
  max-width: 100%;
}

.mediaPlayerControlCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

#timelineProgress {
  flex: 1;
  cursor: pointer;
}

.buttonCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.highlight {
  background-color: var(--col04);
}

button {
  width: 100%;
  cursor: pointer;
  height: 100%;
  border: none;
  border-bottom-style: solid;
  border-width: 2px;
  border-bottom-color: var(--col02);
  width: 500px;
  background-color: var(--col01);
  font-size: 1.5rem;
}

#introButton {
  border-top-style: solid;
  border-top-color: var(--col02);
}

#playPauseButton {
  padding: 1rem;
  width: 75px;
  height: 75px;
  border: var(--col02) solid;
  background-color: var(--col04);
  border-radius: 5rem;
}

footer {
  text-align: center;
  font-weight: 700;
  margin-top: 2rem;
}

a {
  color: rgb(115, 56, 209);
}
