/* The background of the site was custom made for a few rasons. Though primarily, it provides a setting for the 
site, which, along with the simplified versions of the artworks on the walls, makes the user feel more as though
theyre in an actual gallery. I also used this image as I wanted to avoid another empty background for my site. */
body {
  background-image: url(backgroundImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: auto;
  align-items: center;
}

dialog[open] {
  margin: auto;
  padding: 1rem;
  background-color: rgba(156, 156, 156, 1);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  text-align: center;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#dialogCloseButton {
  background-color: rgb(99, 99, 99);
  color: white;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
  height: 100px;
  width: 100px;
  border-radius: 0.2rem;
}

/* Rather than using another flat colour in the design for the background of this element, I've instead opted
to make it mostly transparent. This provides a frame for the small images while still allowing visual elements
behind them to show through, making the UI of the site feel less like a bunch of flat boxes. */
.imgCont {
  display: flex;
  gap: 3.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: 950px;
  height: 150px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.imgCont img {
  max-width: 200px;
  max-height: 130px;
}
.imgCont img:hover {
  scale: 1.1;
}

.bodyCont {
  display: grid;
  align-self: center;
  max-width: 1400px;
  max-height: 700px;
  width: 1400px;
  height: 450px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.75rem;
}

.bodyCont img {
  max-width: 700px;
  max-height: 480px;
  grid-row: 1 / span 3;
  grid-column: 1;
  justify-self: center;
  opacity: 0;
  border: 0.5rem solid;
  border-left-color: rgb(105, 80, 59);
  border-right-color: rgb(123, 94, 70);
  border-bottom-color: rgb(66, 50, 37);
  border-top-color: rgb(174, 133, 99);
}

#birthOfVenusBig,
#guernicaBig {
  grid-row: 2 / span 3;
}

#guernicaBig {
  margin-top: 3rem;
}

/* Using gradiants such as these throughout the site, or even varying the colours of borders to provide a
sense of light direction is important in making the site feel less flat. A bad habit I have when designing 
anything is relying too heavily on flat colours. These usually make my site look ameteurish and boring. As such,
these slight gradients are amazing for providing visual variation and texture to my UI. */
.bodyCont div {
  grid-row: 2;
  grid-column: 2;
  opacity: 0;
  background: #fffafa;
  background: linear-gradient(
    168deg,
    rgb(178, 178, 178) 7%,
    rgba(168, 168, 168, 1) 30%,
    rgba(168, 168, 168, 1) 80%,
    rgba(156, 156, 156, 1) 100%
  );
  border: 0.2rem solid;
  border-image: linear-gradient(to bottom, rgb(219, 219, 219), rgb(85, 85, 85))
    1;
}

p,
h1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

#spotlight {
  grid-row: 3 / span 2;
  grid-column: 1;
  opacity: 0;
  border: 0rem;
  transform: translateY(-15px);
}

/* When creating this site, it was important to me that it felt alive, active and complete. As such, these
animations are important, as they really help in accomplishing that feeling. I've layerd both a change in
opacity and position, rather than just opacity (what I had previously planned to do), as this again provides
the elements on the site more life, and makes the hover action feel more significant, changing more and doing
more. On top of all of this, I've slowed the animation to be a second long. As i state in the intro dialog, I
want users to take their time and slow down to read and appreciate the works on the site. By slowing the animation
used, I hope that users will subconciously do the same. */
.animateIn {
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(-5px);
  }
}

.animateOut {
  animation: fadeOut 1s ease-in forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}

/* I'm using different animations for the spotlight as I want to provide variation in the visuals of the site.
I've change how long it takes and when the light fades in/ out, as well as fixing it's position. Previously,
the spotlight texture moved with the other graphics, however this felt unnatural and ruined the "sense of place"
I was trying to build. */
.lightAnimateIn {
  animation: lightFadeIn 0.25s ease-in forwards;
}

@keyframes lightFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lightAnimateOut {
  animation: lightFadeOut 1.25s ease-in forwards;
}

@keyframes lightFadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
