body {
  background-image: url(backgroundImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: auto;
  align-items: center;
}

.imgCont {
  display: flex;
  gap: 3.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: 950px;
  height: 150px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.imgCont img {
  max-width: 200px;
  max-height: 130px;
}
.imgCont img:hover {
  scale: 1.1;
}

.bodyCont {
  display: grid;
  align-self: center;
  max-width: 1400px;
  max-height: 700px;
  width: 1400px;
  height: 450px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.75rem;
}

.bodyCont img {
  max-width: 700px;
  max-height: 480px;
  grid-row: 1 / span 3;
  grid-column: 1;
  justify-self: center;
  opacity: 0;
  border: 0.5rem solid;
  border-left-color: rgb(105, 80, 59);
  border-right-color: rgb(123, 94, 70);
  border-bottom-color: rgb(66, 50, 37);
  border-top-color: rgb(174, 133, 99);
}

#birthOfVenusBig,
#guernicaBig {
  grid-row: 2 / span 3;
}

#guernicaBig {
  margin-top: 3rem;
}

.bodyCont div {
  grid-row: 2;
  grid-column: 2;
  opacity: 0;
  background: #fffafa;
  background: linear-gradient(
    168deg,
    rgb(178, 178, 178) 7%,
    rgba(168, 168, 168, 1) 30%,
    rgba(168, 168, 168, 1) 80%,
    rgba(156, 156, 156, 1) 100%
  );
  border: 0.2rem solid;
  border-image: linear-gradient(to bottom, rgb(219, 219, 219), rgb(85, 85, 85))
    1;
}

p,
h1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

#spotlight {
  grid-row: 3 / span 2;
  grid-column: 1;
  opacity: 0;
  border: 0rem;
  transform: translateY(-15px);
}

.animateIn {
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(-5px);
  }
}

.animateOut {
  animation: fadeOut 1s ease-in forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0;
    transform: translateY(5px);
  }
}

.lightAnimateIn {
  animation: lightFadeIn 0.25s ease-in forwards;
}

@keyframes lightFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lightAnimateOut {
  animation: lightFadeOut 1.25s ease-in forwards;
}

@keyframes lightFadeOut {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
